################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Ajuro.Notes/obj
/Ajuro.Notes/bin

packages/

Ajuro\.Net\.Types/bin/

Ajuro\.Net\.Types/obj/
